img{border:none;}
a{text-decoration:none; color:#00f;}
a:hover{text-decoration:underline;}
table.Center{margin-left:auto; margin-right:auto;}

#AjaxJanelaNova{
    border:solid 1px #000;
    background-color:#fff;
    visibility:hidden;
    position:absolute;
    top:135px;
    left:400px;
    height:290px;
}

#AjaxJanelaSimulador{
    border:solid 1px #000;
    background-color:#fff;
    visibility:hidden;
    position:absolute;
    top:60px;
    left:620px;
    height:370px;
}

#AjaxJanelaConcluidas{
    border:solid 1px #000;
    background-color:#fff;
    visibility:hidden;
    position:absolute;
    top:60px;
    left:550px;
}